.gl-form-group {
  @include gl-mb-5;

  .col-form-label {
    @include gl-font-base;
    @include gl-font-weight-bold;
    @include gl-line-height-normal;
    @include gl-pt-0;
    @include gl-pb-3;

    > .form-text {
      @include gl-mt-3;
    }
  }

  .optional-label {
    @include gl-font-weight-normal;
  }

  .invalid-feedback,
  .text-gl-muted {
    @include gl-font-base;
    @include gl-line-height-normal;
  }

  .form-control {
    + .invalid-feedback,
    + .text-gl-muted {
      @include gl-mt-3;
    }
  }

  .text-gl-muted {
    @include gl-text-gray-500;
  }

  legend {
    border-bottom: 0;
  }
}
